<library path="src">
  <class name="DynamicTuning" type="rqt_dyn_tune.rqt_dyn_tune.DynTuneUI" base_class_type="rqt_gui_py::Plugin">
    <description>
	A generic tool for tuning parameters in ROS
    </description>
    <qtgui>
      <!-- optional grouping...
      <group>
        <label>Group</label>
      </group>
      <group>
        <label>Subgroup</label>
      </group>
      -->
      <label>Dynamic Parameter Tuning UI</label>
      <!-- <icon type="theme">system-help</icon> -->
      <statustip> Easily tune the parameters of your robotics system, e.g. PIDs, physics parameters, sensor/camera parameters, etc. </statustip>
    </qtgui>
  </class>
</library>
