* {
    border: none;
}


QTreeWidget::item  {
    min-height: 40;
    max-height: 40;
    color: rgb(50,50,50);
    padding-left: 30;
}       

QTreeWidget::item::selected  {
    color: rgb(255,180,125);
}

QTreeWidget::item::checked  {
        color: red;
}       


        
QTreeView{

    paint-alternating-row-colors-for-empty-area: False;

    selection-color: rgb(255, 255, 255);
    selection-background-color: rgb(132, 132, 132);
    alternate-background-color: white;
    background-color: rgb(240, 240, 240);
    border: 0.5 solid rgb(176,176,176); 
    font-family: 'courier new';
    font-size: 11pt;
}


QHeaderView::section {
    background-color: rgb(76, 76, 76);
    color: lightGray;
    padding-left: 30;            
    border: 0px solid;
    height: 40;
    min-width: 70;   

}

.QLabel {
    
    background-color: rgb(100, 100, 100);
}

.StyledLabel {
    background-color: rgb(76, 76, 76);
    font-size: 13pt;
    font-family: courier;
    min-height: 40;
}

.StyledLabel#func_list_header, QHeaderView::section {
    background-color: rgb(76, 76, 76);
    color: white;
    font-size: 14pt;
    min-height: 40;
    font-family: 'courier';
    text-align: center;
}

.QListWidget#block_list {
    background-color: rgb(127, 127, 127);
    border: none;
}

.QListWidget#block_list, QTextEdit {
    font-size: 13pt;
    font-family: Courier;
}

.QListWidget#func_list{
    font-size: 15pt;
    font-family: courier;
}


.QListWidget#func_list::item{
    text-align: right;
    min-height: 35;

}

.QListWidget#func_list{
    selection-color: rgb(76, 76, 76);
    selection-background-color: rgb(255, 255, 255);
    alternate-background-color: rgb(140, 140, 140);
    background-color: rgb(127, 127, 127);
    color: rgb(255, 255, 255)   
}       



.QListWidget#func_list::item:selected {
    background: rgb(255,180,125);
    font-weight: bold;
}


QLineEdit, QComboBox{
    background-color: rgb(76, 76, 76);
    color: rgb(255, 255, 255);
}

.QLineEdit#assign_var, .QComboBox#func_ret{
    background-color: rgb(76, 76, 76);
    color: rgb(255, 255, 255);
    min-height:  40;
    font-size: 13pt;
    font-family: Courier;
}


QPushButton#add_script{
    padding: 0 15 0 5 ;
    image: url(/home/mehdi/catkin_ws/src/rqt_dyn_tune/resource/python-pressed.png);
    background-repeat: no-repeat;
}


QPushButton#add_script::hover{
    color: lightGray;
    image: url(/home/mehdi/catkin_ws/src/rqt_dyn_tune/resource/python-normal.png);
}

QPushButton#add_script::pressed{
    color: gray;
    image: url(/home/mehdi/catkin_ws/src/rqt_dyn_tune/resource/python-orange.png);
}


QPushButton::hover, QPushButton#add_button::hover{
    
    color: rgb(255, 255, 255);
}

QPushButton::pressed, QPushButton#add_button::pressed{
    color: rgb(255,180,125);
}

QPushButton{
    background-color: rgb(76, 76, 76);
    color: lightGray;
    min-height:  40;
    padding:  0;
    font-size: 25pt;
    font-family: Courier;
    font-weight: bold;
}

QComboBox QAbstractItemView::item {
    border-bottom: 5px solid white; margin:3px;
}

QComboBox:item
{
     border: 0px solid #999900;
     background: transparent;
     font-weight: bold;
}


QHeaderView{
    background-color: gray;
}



ParamWidget {
    width: content;
}

TopicWidget {
    width: content;
}




QCheckBox {
    spacing: 5px;
}

*::indicator {
    width: 20px;
    height: 20px;
}


